.AppBody {
   padding-top: 8rem;
   width: 80%;
   margin: 0 auto;
   min-height: calc(100vh - 8rem);
   display: flex;
}

.enter {
  opacity: 0;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transition: all .45s ease-out;
  -webkit-transition: all .45s ease-out;
  -moz-transition: all .45s ease-out;
  -ms-transition: all .45s ease-out;
  -o-transition: all .45s ease-out;
}
.enterActive {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
