.Button {
   margin-top: 2rem;
   width: 14rem;
   height: 4.5rem;
   text-align: center;
   color: black;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   font-family: 'Roboto', sans-serif;
   font-weight: 600;
   border: 2px solid black;
   background-color: rgba(255, 255, 255, 0.5);
   transition: transform .6s;
   -webkit-transition: transform .6s;
   -moz-transition: transform .6s;
   -ms-transition: transform .6s;
   -o-transition: transform .6s;
   cursor: pointer;
}

.Button:hover{
   transform: translateY(-6px);
   -webkit-transform: translateY(-6px);
   -moz-transform: translateY(-6px);
   -ms-transform: translateY(-6px);
   -o-transform: translateY(-6px);
}

.Button:active {
   transform: translateY(0);
   -webkit-transform: translateY(0);
   -moz-transform: translateY(0);
   -ms-transform: translateY(0);
   -o-transform: translateY(0);
}